@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Can't decide what song to learn on the guitar?  Let Songs2Learn do it for you!  This web application randomly generates a track
    from a large database of songs from the 60's till now.  It displays album art, Artist name, Track Name, Album Name, and provides
    links to Spotify, Youtube videos, and a Songsterr guitar tab!</p>
